.caption1 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.caption2Strong {
    font-size: 0.625rem;
    line-height: 0.875rem;
    font-weight: 600;
}

.title3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

.body1 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

.subtitle2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}

.subtitle2Stronger {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}

.body1Strong {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.subtitle1 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}
