@import "tailwindcss";
@import "./typography.css";

@theme {
  --font-display: var(--font-segoe-ui);

  --color-primary: #194b67;
  --color-blue: #0077cc;
  --color-green: #00bfb3;
  --color-yellow: #fec514;
  --color-dark: #343741;

  /* Keyframes */
  --keyframes-fadeIn: fadeIn 0.5s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}
/* @utility  */
